[2021-01-15 21:21] dustinkredmond opened #1 "Write unit tests for FXTrayIcon class"
As the creator of FXTrayIcon, I have a good deal of experience writing both JavaFX and writing unit tests, however, I do not have a lot of experience writing test cases for GUI software. I'm more the type of person that writes->compiles->clicks about->finds bug->repeat when it comes to JavaFX and Swing development.

FXTrayIcon has a "runnable test" that serves as a basic smoke/sanity test, but the

[2021-01-17 21:46] dustinkredmond commented on #1
Added some basic tests, testing while using CI platforms proves to be slightly more convoluted than thought. Closing this issue for now, hopefully to revisit and provide full test coverage, but basic test will suffice for the time being.

[2021-01-17 21:46] #1 closed

[2021-01-21 13:29] dustinkredmond opened #2 "Test on MacOS, ensure cross-platform function"
FXTrayIcon is mostly built and tested on Windows 10.
Theoretically, FXTrayIcon should work on any OS and desktop environment that supports the AWT SystemTray functionality.

I do not readily have access to MacOS, but am aware that some features of FXTrayIcon work differently (or not at all) on MacOS. If anyone's primary machine runs MacOS, I could use the help in testing functionality and making a

[2021-01-23 18:44] Oliver-Loeffler commented on #2
A quick test with Java 15 and JavaFX 15 on macOS HighSierra 10.13.6 showed that basically everything works.
Showing icon/hiding it dynamically worls. The icon appears in the Finder notification area and vanishes if wanted.

<img width="272" alt="TrayIcon" src="https://user-images.githubusercontent.com/22102800/105610828-fec74980-5db1-11eb-8171-a1dcc525bdc6.png">

Also messages (generic ones, warni

[2021-01-24 19:36] dustinkredmond commented on #2
@Oliver-Loeffler Thank you so much for testing this. This is a big help. I was aware that the `setOnAction()` and `setOnClick()` methods appear to not work as expected. This is an issue with how AWT handles these events on MacOS, but I believe I can create a workaround. I'm curious if the behaviour is the same on MacOS 11.1 (Big Sur).

The issue that you mentioned about the icons being blurry I wa

[2021-01-25 02:06] dustinkredmond commented on #2
@Oliver-Loeffler, I just upgraded my old MacBook Air (2017ish model) to the "Big Sur" update, and I found some interesting issues. It looks like the TrayIcon itself is shown without issue and the MenuItems seem to be added without issue. Their `onAction()` methods also seem to work, but I noticed some strange behavior when I attempted to set an `EventHandler` for the `showMessage` methods of FXTra

[2021-01-25 02:16] EasyG0ing1 commented on #2
@dustinkredmond

I had a thought concerning this problem. As you might remember, macs started out with single-button mice. And the popular way to use it was to - for example - click and hold on a menu then after it pops down, you drag to a selection then let go of the mouse button. Since macs were always intended to be "simpler" in the user interface,  do you think it's possible that the operating

[2021-01-25 02:19] dustinkredmond commented on #2
@Oliver-Loeffler, the `displayMessage` methods were not calling the `EventQueue.invokeLater()` method to run on the proper AWT thread. I've pushed a commit which fixes this. The notifications work, but do not display the proper icons, so I'm thinking I will have to do some more work there, I'm thinking that going with the JavaFX built-in icons may be a good idea in the case of MacOS, I may even de

[2021-01-25 04:20] EasyG0ing1 commented on #2
@dustinkredmond, Forgive my ignorance, but why the need for setOnAction when setOnClick works just fine? Is it just the principle of the matter (write once run anywhere should work, darnit!) or is there some benefit to one method over the other?

[2021-01-25 12:54] dustinkredmond commented on #2
@EasyG0ing1, the only reason for this was to implement single vs. double click. I'm assuming that folks using MacOS are more used to single clicking icons, while with Windows and certain Linux desktop environments, certain programs offer different actions for single and double click.

I'd like to offer both options, but if I can't come up with a viable workaround for MacOS, I may just get rid of t

[2021-01-25 22:48] dustinkredmond commented on #2
@EasyG0ing1  & @Oliver-Loeffler. On MacOS Big Sur, a two finger click will activate both `setOnAction()` and `setOnClick()` EventHandlers. I cannot seem to independently activate one or the other. I'm thinking I will keep a `setOnAction()` method that will be activated by a single-click on Windows and two-finger click on MacOS. This should keep things pretty cross platform. MacOS will display the

[2021-01-25 23:00] dustinkredmond commented on #2
Note that `setOnClick()` has been annotated as Deprecated, and will be removed in a further release. Closing this issue for now until, as other behavior of `FXTrayIcon` is predictable and acceptable on both MacOS, Windows, and Linux distributions that do not use AppIndicator.

[2021-01-25 23:00] #2 closed

[2021-02-04 10:52] robertmakrytski opened #5 "No system tray support, application exiting."
I tested on windows 10 vmware and ubuntu 18.xx and have this message.
1)Do you know how many windows 10 have system tray return true?
2)it can be possible implement for java desktop on c++ when it returns false?

[2021-02-04 13:25] dustinkredmond commented on #5
@robertmakrytski, as far as I'm aware, calling `FXTrayIcon.isSupported()` should always return true on Windows 10 machines.

In Ubuntu, I know on 20.04 (the latest LTS release) `FXTrayIcon.isSupported()` should return false, as GNOME uses AppIndicator, which the AWT TrayIcon does not support.

`FXTrayIcon.isSupported()` will also return true on the latest MacOS Big Sur.

I've yet to test other Lin

[2021-02-04 13:43] robertmakrytski commented on #5
learn this https://github.com/dorkbox/SystemTray

[2021-02-04 14:14] dustinkredmond commented on #5
@robertmakrytski I took a quick look at dorkbox/SystemTray. It seems you may need to run your Java application as root (sudo).

I'm going to close this issue for now, as native support is not a long-term goal of FXTrayIcon, but rather NotiFX as I mentioned above.

[2021-02-04 14:14] #5 closed

[2021-02-05 15:52] MalteKiefer opened #6 "package com.dustinredmond does not exist"
Hello,

try to use your package.
My gradle looks like this:

[code]

My class looks like this:

[code]

I get these errors when I run gradle

[code]

[2021-02-05 16:11] dustinkredmond commented on #6
@MalteKiefer you should import FXTrayIcon as below:

`import com.dustinredmond.fxtrayicon.FXTrayIcon;`

Also, what JDK version are you using to compile this?

[2021-02-05 16:12] MalteKiefer commented on #6
That was the error. thanks

[2021-02-05 16:12] #6 closed

[2021-02-07 03:42] littleboyonearth opened #7 "running on mac os , but get unexpected result"
hi, @dustinkredmond

 I just run the RunableTest.java ，but the notifications are not as expected

![image](https://user-images.githubusercontent.com/19209493/107135834-21706b00-6939-11eb-963a-b50f5aae2749.png)

**the notification popup displays just like a normal window.** with min, max, close, and a button on it.

I have seen the posted screen shot of other guys, and it is just ok
https://github.

[2021-02-07 06:27] littleboyonearth commented on #7
jdk: 1.8.0_281

[2021-02-07 13:10] dustinkredmond commented on #7
@littleboyonearth The display methods simply wrap calls to AWT's TrayIcon instance methods, so the real implementation is done by AWT.

That being said, I will take a look at this and see if there is some sort of workaround. FXTrayIcon pretty much expects AWT to behave as documented, but in this case it isn't.

[2021-02-07 13:40] littleboyonearth commented on #7
@dustinkredmond I'm very appreciate your help!

[2021-02-07 21:18] dustinkredmond commented on #7
@littleboyonearth It seems as though there's no good workaround that I'm able to find at the moment. I will leave this issue open to do some more research and see if any other folks may know how to handle this. In the meantime, my library [FXAlert](https://github.com/dustinkredmond/FXAlert) helps to build notifications using pure JavaFX and it does not rely on AWT. It may be a feasible alternative

[2021-02-08 00:11] EasyG0ing1 commented on #7
I just ran the demo in a Windows 10 virtual machine, and it was immediately obvious to me that AWT is forced to implement the alert dialogue using two completely different methods. In windows, the dialog uses whatever its called in Windows where the alert slides out from the side of the window like what you see when you have a message about updates, or opening potentially unsafe programs etc. I al

[2021-02-08 13:34] dustinkredmond commented on #7
@EasyG0ing1 I merged PR #8 which should fix this, thanks for your contribution! @littleboyonearth I will publish an updated version to Maven Central by the end of the week, this should fix the issue you were having, thanks for opening the Issue! 👍🏻

[2021-02-08 13:34] #7 closed

[2021-02-09 12:57] littleboyonearth commented on #7
thanks both of you guys, so quick and excellent!

[2021-02-09 14:36] dustinkredmond commented on #7
@littleboyonearth & @EasyG0ing1 I pushed release 2.7.0 to Maven Central this morning which fixes the issue. @EasyG0ing1, do you know if the osascript allows for setting an icon?

[2021-02-10 12:01] EasyG0ing1 commented on #7
@dustinkredmond
Unfortunately, there is no option to change the icon with the osascript call. I looked deeply for that capability, but the only way to get the sliding alert is with this AppleScript command:

Whereas a display dialog does have the option of changing the icon, but that is a standard popup window just like AWT did before this update.

[2021-02-26 12:08] littleboyonearth opened #11 "wont stop as a user thread keeps alive"
![image](https://user-images.githubusercontent.com/19209493/109298306-543dbd00-786e-11eb-93b9-2f3a5f77b562.png)

the new thread is not a daemon thread, so it will prevent the application from exiting

[2021-02-26 12:41] dustinkredmond commented on #11
@littleboyonearth In the latest version of FXTrayIcon, we do not use this `Thread` anymore. The check is instead done by invoking `EventQueue.invokeLater()` this way we can check on that particular thread, so there's no timing issue.

Please update your fork/clone to the latest version. Thanks!

[2021-02-26 15:34] #11 closed

[2021-03-06 13:31] dustinkredmond opened #12 "Work on supporting Linux DEs"
Currently calling `java.awt.SystemTray.getSystemTray()` throws `UnsupportedOperationException` on Ubuntu 20.04 LTS.

We should derive an alternative for adding tray support on at least Ubuntu 20.04 as it's one of the more commonly used Linux OSes. This entails figuring a way to add AppIndicator support for GNOME. This would also be nice to implement for KDE and XFCE desktop environments.

I'm not

[2021-03-07 12:12] EasyG0ing1 commented on #12
@dustinkredmond I'll take a crack at it and let you know. I've got an Ubuntu 20 VM already set up.

[2021-03-07 12:23] EasyG0ing1 commented on #12
@dustinkredmond Apparently in Gnome 3.28 they dropped the system tray altogether. This is the recommended shell extension to bring it back, and based on one post I read, it works with Java. I'll see about testing it with FXTrayIcon.

[https://github.com/phocean/TopIcons-plus](url)

[2021-03-07 12:28] EasyG0ing1 commented on #12
As a matter of clarity, because Ubuntu 20.04 uses Gnome version 3.36.3, there is no SystemTray at all, as it was removed from Gnome back in version 3.28. This is why the getSystemTray() throws an exception. Using isSupported() would further clarify that SystemTray support is not available on the platform being used.

[2021-03-07 18:13] EasyG0ing1 commented on #12
I have verified that on a default installation of Ubuntu 20.04, performing the test

`FXTrayIcon.isSupported()`

returns false, and when I try to instantiate the FXTrayIcon class, I receive the exception thrown that says "SystemTray icons are not supported by the current desktop environment.", which is the custom exception written into the library based on the test

`SystemTray.isSupported()`

Thi

[2021-03-14 16:24] dustinkredmond commented on #12
@EasyG0ing1, there's definitely some way to access a tray-type functionality, at least in Ubuntu. See below example of the JetBrains Toolbox icon on Ubuntu 20.04. I'll do some digging today to see if I can figure out how they're doing this.

Even if it's only got limited support, I'll take it. 😄

![image](https://user-images.githubusercontent.com/42328885/111075852-386a2600-84c0-11eb-8fd7-2cd3a722

[2021-03-14 16:33] dustinkredmond commented on #12
I suppose we could programmatically install AppIndicator support, or check for it, then throw an error, but, I'm not sure if this is something that I want to do. Another repo on GitHub already does this, and it seems like one heck of a workaround. I'll give it some thought.

[2021-03-16 00:44] EasyG0ing1 commented on #12
@dustinkredmond Well isn't that interesting ... I'm not a big fan of re-inventing the wheel ... unless my invention will make the car go faster ... I might get the gumption to figure out how to add tray support to ubuntu ... and it might turn out to be a relatively easy thing to do once I figure it out ... but you know the open-source and especially Linux world ... the only time you can find clear

[2021-03-16 00:47] EasyG0ing1 commented on #12
@dustinkredmond ... But that Jetbrains tool box ... does have me curious. I wonder if they would just tell me how they did that if I asked.

[2021-03-17 21:36] dustinkredmond opened #13 "Write basic unit tests (non-visual, no GUI)"
Writing tests for JavaFX applications, or GUI applications in general isn't much fun. It's quite hard to automate. Especially in a headless build environment. There are some great projects out there for it, but this Issue is centered around the non-GUI aspects of the library, and would be great for first time contributors.

All of that being said, FXTrayIcon lacks basic unit tests, if we call the

[2021-03-22 21:37] dustinkredmond commented on #12
@EasyG0ing1, as you said in your email. JetBrains advised that they use libappindicator over D-Bus.

This looks like a pain to implement for Java.
We'd have to do a few things.

1. Determine OS at runtime (Linux) as well as which Desktop Environment and version (GNOME, KDE, or a whole host of possible others).
2. Programatically install libappindicator support (assuming that a user doesn't have it

[2021-03-24 18:27] EasyG0ing1 commented on #12
@dustinkredmond I agree ... the bottom line is, providing a system tray in an operating system is not the job of libraries like FXTrayIcon ... I would say that qualifies as outside the scope of the project. From what I understand, if you manage to install a system tray in Gnome, then AWT will pick it up and use it ... that's what I've read anyways. I did put in some effort to do just that, but got

[2021-03-25 20:38] #12 closed

[2021-04-06 14:27] craigraw opened #16 "Icon resolution on OSX"
I suspect that there may be no way to improve this, but the resolution of the tray icon on OSX is much poorer than other icons in the tray.

With a JavaFX Image one can use the imagename@2x.png format to supply a larger image which will be selected on a higher DPI screen. Is there any way to improve the image resolution here?

[2021-04-06 14:36] dustinkredmond commented on #16
@craigraw Talk about perfect timing. 😄

In the last hour, I released version 2.8.0 which provides an overloaded constructor to set the icon size.

[code]

Please check this out, and let me know if this resolves your issue. AWT doesn't provide a lot in terms of improving resolution otherwise.

[2021-04-06 15:21] craigraw commented on #16
Good timing indeed! Unfortunately it doesn't really help though.

It does seem however that Java 9 and up supports higher DPI images through the MultiResolutionImage class which should be implemented by subclasses of java.awt.Image.

See the answer here: https://stackoverflow.com/questions/38802885/java-9-hdpi-display-support-multi-resolution-images-name-convention-and-load

Any chance of supporti

[2021-04-06 16:26] EasyG0ing1 commented on #16
@craigraw I found that when I create icons following Apples guidelines then set the size to 24 x 24 in the instantiation of FXTrayIcon, it doesn't look too bad at all. It is slightly off from the other icons in the tray but you kind of have to look hard to see that.

[2021-04-07 08:05] craigraw commented on #16
FWIW I've tried the MultiResolutionImage approach, and it results in better defined icons on OSX. It also works on Windows (without having to resize). Ubuntu doesn't seem to support a system tray, and prints a GTK error even if you check for support.

[2021-04-07 11:58] dustinkredmond commented on #16
@craigraw, the Ubuntu not supporting this is a known issue, at this time, due to the complexity of adding the support, we don't feel like it's something we want to address. See #12 for further details on this.

I'm glad that the `MultiResolutionImage` works for OSX and Windows. If you could, would you mind creating a pull request to add this functionality to `FXTrayIcon`? You could create an overl

[2021-04-07 13:38] craigraw commented on #16
I found my needs were best handled by my own implementation, but essentially I'm just doing something similar to the following:

[code]

Here, `image.png` is 16x16px, `image@2x.png` is 32x32, and `image@3x.png` is 64x64.

Even though I didn't end up using FXTrayIcon, it was still valuable to reference. Thanks!

[2021-04-07 21:49] dustinkredmond commented on #16
@craigraw, thanks for looking into it.

I will look into support for this once I migrate the project to use the latest JDK. A lot of folks using JavaFX still stick with Oracle's JDK8, simply out of convenience, so I won't look into this yet.

I'm glad, even if you're not using FXTrayIcon, that we were able to provide some good reference material for you! 🤣 In all seriousness, thanks for opening th

[2021-04-07 21:49] #16 closed

[2021-07-22 18:57] dustinkredmond commented on #13
Closing due to lack of interest.

[2021-07-22 18:57] #13 closed

[2021-10-18 11:27] DEV-A7med opened #24 "FXtrayIcon error when used it with springboot fx application"
When I'm using FXTrayIcon with JavaFX application that's work fine but now I need to run my project as spring-boot fx project
I follow instructions here to run the spring-boot project as FX project
[https://blog.jetbrains.com/idea/2019/11/tutorial-reactive-spring-boot-a-javafx-spring-boot-application/](url)

but when I used FXTrayIcon get me this exception message
[code]

I ask about what's capabi

[2021-10-27 02:00] Nex-Coder opened #25 "[Feature Request] Restructure Builder class to support extended FXTrayIcon classes."
I'm trying to extend FXTrayIcon to allow (in addtion) for a custom Menu when righitng clicking.

I can do that fine with some reflection to get the trayIcon (all though would be nice if it was protected :D)
However, supporting the builder in my extended even with some nasty reflection just isn't do-able i think because it always returns a FXTrayIcon constructed as such instead of my custom class.

[2021-11-01 11:43] Nex-Coder commented on #25
Hey, Sorry for getting back so late. Had a pretty spooky halloween ;) But ive now had the chance to have a look at the new implemtnation and doesn't allow construction of the custom class.

Because the Build constructor is private in FXTrayIcon it can't be used in sub classes.
Also, the fields are private in the base FXTrayIcon.Builder so they can't be used in another implementation from scratch t

[2021-11-01 14:13] Nex-Coder commented on #25
Yeah, I did try some examples. I'll try again when I get some time later, working again. :D

But i kept getting errors  like "Cannot cast FXTrayIcon to NexTrayIcon" etc. Both extending and using the base builder. :)

[2021-11-01 19:10] Nex-Coder commented on #25
Here we are @EasyG0ing1!
So, for example. If i try to use this extended builder (in my extend class of FXTrayIcon)...

[code]

and construct like so

[code]

It will not work because the fields inside the super class builder are all private with no way to access them and thus no way of passing the fields to the private constructor in my extended FXTrayIcon called `NexTrayIcon`. :)

Admittedly, the

[2021-11-02 12:48] Nex-Coder commented on #25
Okay, so this has been a bit of a learning experience for me. And I now know that all i really needed to do in my builder was this...

[code]

and my private constructor can then look like this

[code]

but this still leave one last problem. The constructor in super is still private :D

I think the only change that needs to be done in your new implementation to support extended builders is a going

[2021-11-02 13:43] #24 closed

[2021-11-03 01:54] EasyG0ing1 commented on #24
Springboot... I looked at that once ... then I didn't ... I've been perhaps putting off the inevitable.

[2021-11-03 12:17] dustinkredmond commented on #25
I'm not averse to making the constructor protected. I will try to review this today. Thanks!

[2021-11-03 12:38] Nex-Coder commented on #25
Great @dustinkredmond!

I've setup a fork with those two changes (newbuilder & protected constrctor).

Also. I added a protected getter for the AWT trayIcon. This would just be a nice bonus as corrently I'm using reflection to get and use it for custom things.
I plan add stuff like animated trayIcon, custom right clcik menu, etc. So it would be really great if we could get this too! Reflection wor

[2021-11-03 14:11] EasyG0ing1 commented on #25
@dustinkredmond - I looked at his fork, and I made trayIcon protected as well as the private constructor for the Builder class in my existing pull request. It looks like those were the only two changes he made.

@Nex-Coder you can see the branch where I implemented your changes [here](https://github.com/EasyG0ing1/FXTrayIcon/tree/ProperBuilder), take a look and see if it's right.

[2021-11-03 14:16] Nex-Coder commented on #25
@EasyG0ing1 Yeah that all I wished for thanks! Only difference being i made a protected final getter for trayIcon. But its exactly the same result! That satisfies everything an extended implemtnation needs on my end.

[2021-11-03 14:20] EasyG0ing1 commented on #25
@Nex-Coder I added the getter to the branch as well. It is locked and loaded in the current pull request.

[2021-11-03 14:29] EasyG0ing1 commented on #25
@Nex-Coder - Here is an artifact that includes all of the changes if you want to test it.

[FXTrayIcon.zip](https://github.com/dustinkredmond/FXTrayIcon/files/7468270/FXTrayIcon.zip)

[2021-11-03 15:06] Nex-Coder commented on #25
I can confirm the new changes permit extended classes!!!
Test some building and changes in super() calls are also visable in the current this().

Feel free to close this thread once your done tracking/pushed to mavern. <3

[2021-11-04 11:02] EasyG0ing1 commented on #25
The ball is in @dustinkredmond 's court right now. Everything is done, just needs to be merged and (hopefully) published.

[2021-11-04 12:04] EasyG0ing1 commented on #25
@Nex-Coder You mentioned something about animated icons in the tray ... I'd like to see that in action...

:-)

[2021-11-04 12:16] Nex-Coder commented on #25
Sure. I can work this stuff in a fork if you guys like and contribute the features you guys want :)
Not exactly sure how far I will take it, but I know I'd like some custom right click parents/controls and semi animated icons. Like Discords microphone activatity TrayIcon.

[2021-11-04 22:31] hrzafer opened #28 "Show Popup Menu with left click"
Hi,

Currently, the tray icon shows the menu only when right-clicked. How can we change this behavior so that it does the same with a left click.

Thanks

[2021-11-05 00:25] EasyG0ing1 commented on #25
@Nex-Coder Well I know that FXTrayIcon is a native AWT control because there STILL does not exist, a native JavaFX System Tray Icon object, in spite of it being officially requested and receiving enough votes for its implementation into JavaFX back in ... 2015 I believe. It even had a developer assigned to it ... but it seems that person had better things to do.

Anyways, The reason I mention the

[2021-11-05 00:27] EasyG0ing1 commented on #28
@hrzafer - Which operating system are you using? If you're using a mac, try clicking with left and right buttons at the same time.

[2021-11-15 14:53] hrzafer commented on #28
I'm using Windows 11. FxTrayIcon works as expected. My question is can I make it show the menu with a left-click instead of a right-click.

[2021-11-16 08:04] EasyG0ing1 commented on #28
No, I believe it is a limitation in AWT ... well... you COULD get it to work with the jeft button, but you would need to running MacOS.  ;-)

[2021-12-06 15:28] TornadoStorm opened #30 "[Feature Request] Disable default hide/show behavior"
It would be very useful to be able to manually manage all action events relating to the FXTrayIcon, at least relating to how left clicking the icon works.

In my current project I am trying to have a behavior that shows a small popup window when the tray icon is single-clicked, but when double-clicked, the main window should show up. Currently, I only know of being able to use the setOnAction meth

[2021-12-06 16:47] Nex-Coder commented on #30
At the moment, I'm extending FXTrayIcon and getting the TrayIcon itself. Trying to listen to the Action Events and stuff from AWT. It's annoying of course because we like to use JavaFX. But it is doable. _If I ever_ finish my own logic there. I can always bring forward how I did it :)

[2021-12-07 13:30] EasyG0ing1 commented on #30
@TornadoStorm - Yeah the biggest issue with even having a tray icon in JavaFX is that JavaFX has no means of providing one, so it has to be brought in from AWT and the results are ... "klunky" to say the least. Thus far, we simply have to live with the way it behaves now until such a time that SOMEONE creates a native JavaFX tray icon but until then ... we limp along with what we got. Though I am

[2021-12-07 13:49] TornadoStorm commented on #30
Thanks for the info! 😊

I feel like this feature might not be too difficult to implement, as the setOnAction already can handle a lot of things on its own, we just need to be able to disable how it acts by default when it is clicked somehow and put in our own code through that event. Maybe I will have a deeper look at it the next time I can.

[2021-12-11 11:04] EasyG0ing1 commented on #30
@TornadoStorm - something else that is worthy of note ... I'm not sure which OS you're using, but in MacOS, the tray icon does indeed behave differently based on a single left click or a double button click - where you click on it with both the left and right mouse buttons at the same time... if you're in a Mac world, have a look at that as it relates to FXTray Icons setOnAction methods ... I can'

[2021-12-11 11:16] EasyG0ing1 commented on #30
@TornadoStorm - Also, the way I was able to make it appear like the scene is attached to the icon ... I record the x and y coordinates of the mouse the first time that icon is clicked after the program starts. I then use that point as a reference every time the scene is called up so that it doesn't jump around having different source points each time the icon is clicked .... but using that source

[2021-12-11 11:38] TornadoStorm commented on #30
@EasyG0ing1 That's an interesting implementation! However, the functionality I am trying to investigate more involves double-clicking with the left mouse button, rather than clicking with both the right and the left at the same time. I think the only way I can really work with this is to somehow disable the default behavior when left-clicking the taskbar icon, while leaving all other behavior as n

[2021-12-11 20:53] EasyG0ing1 commented on #30
@TornadoStorm  - yeah ... I do mouse click counting all the time with JavaFX controls ... but when it comes to AWT, I'm in a foreign country. I never once learned nor used AWT. I started learning Java when FX was already the well-established gold standard for Java UIs.  If you ever do figure it out, please let us know how you did it?

[2021-12-11 20:55] TornadoStorm commented on #30
@EasyG0ing1 Definitely will! Currently occupied with other tasks at the moment, but I'll definitely look back at the taskbar icon eventually

[2021-12-12 01:08] hrzafer opened #31 "Header of the notification message doesn't show app name on Windows-11"
Hi,

I want to change the header from "OpenJDK Platform Binary" to something else. I can't find anyway of doing that.

![image](https://user-images.githubusercontent.com/4048197/145696670-b961435b-a1c1-4315-8a7b-59eaaf8517c5.png)

Thanks

[2021-12-12 01:15] hrzafer opened #32 "Icon looks distorted"
My icon is 16x16. `SystemTray.getSystemTray().getTrayIconSize()` returns `java.awt.Dimension[width=16,height=16]` as well. But sometimes the icon looks distorted as in the image:

![image](https://user-images.githubusercontent.com/4048197/145696830-7c80793a-8770-4905-a7d3-4fdc4a28d9bf.png)

How can I fix that? Have you guys faces a similar issue?

[2021-12-12 01:55] hrzafer commented on #31
Actually, the issue is on Win-11. On Win-10 here is the screenshot which seems ok. It correctly displays my application's name.

![image](https://user-images.githubusercontent.com/4048197/145697492-33716906-decf-4776-8176-59a4d95c18a4.png)

[2021-12-12 08:40] EasyG0ing1 commented on #32
@hrzafer If you're using a mac, then use an icon that is at least 24 x 24 pixels and define it as such in FXTrayIcon. I'v discovered that with the Mac, is doesn't really matter what dimensions you give FXTI above something like 22 x22 or somewhere around there if I remember correctly, and it ends up looking very nice... This key, for example, is being presented by FXTrayIcon and as you can see ...

[2021-12-12 08:47] EasyG0ing1 commented on #31
@hrzafer that's very interesting that you got different results under Windows 11... are you using the same version of Java on both versions of Windows?

[2021-12-13 22:18] hrzafer commented on #31
Yes. Both are the same Java 17 custom JRE. Because I'm packaging my app
with jpackage.

Harun Reşit Zafer
http://www.hrzafer.com/

On Sun, Dec 12, 2021 at 3:47 AM Michael Sims ***@***.***>
wrote:

[2021-12-13 22:51] hrzafer commented on #32
The image above is from windows-11. This one is from windows-10: ![image](https://user-images.githubusercontent.com/4048197/145901384-1a29c252-6f61-468a-aaad-cc1613859c19.png)

icon looks OK on the system tray:

![image](https://user-images.githubusercontent.com/4048197/145901533-d9fe1fc7-5edb-4d48-bd9c-8760779e3d6a.png)

[2021-12-14 10:46] EasyG0ing1 commented on #31
@hrzafer - That is VERY interesting ... Java must make calls to the same windows libraries in each case, but the Windows 11 library was obviously changed without proper change management oversight... seems odd for Microsoft to be careless ... but it might be something that will need to be brought to their attention as  I can't see how it would Javas responsibility to work around what they assume w

[2021-12-14 11:17] EasyG0ing1 commented on #32
@hrzafer - I was just looking at the Oracle sample project for the AWT TrayIcon and they posted a gif file that they used for their icon. I copied that file and put a star in it. Here is how they create the image for the TrayIcon object:

`final TrayIcon trayIcon = new TrayIcon(createImage("images/bulb.gif", "tray icon"));`

USing this method to actually create the image:

[code]

And here is the

[2021-12-14 11:29] EasyG0ing1 commented on #30
@TornadoStorm - I was reading the Oracle discussion on AWT TrayIcon, and found this to be of some interest:

However, they also discuss some limitations which might explain some of the frustration we've experienced:

[2021-12-14 17:30] hrzafer commented on #31
Actually, you don't even have to make your app modular. Also you don't need jpackage as well. You can use [maven-javafx-plugin](https://github.com/openjfx/javafx-maven-plugin) and `mvn clean javafx:jlink` will create a cross-platform custom JRE.

There is another [maven-javafx-plugin](https://github.com/javafx-maven-plugin/javafx-maven-plugin) which can create native installers. Which is essential

[2021-12-14 18:50] hrzafer commented on #32
I converted my `logo.png` to `logo.gif` via an online converter and it looks fine. Interesting. Thanks for the tip.

[2021-12-14 18:53] hrzafer commented on #31
@EasyG0ing1 , I just realized that the problem only happens when I'm running the app directly from IntelliJ. If I use the installed version which was packaged as `msi` it works fine.

[2021-12-15 02:47] EasyG0ing1 commented on #31
@hrzafer Thanks for the info on the installer wrappers, I'll check them out and experiment.

And Gradle? I'm not a fan of Gradle ... Maven has always seemed to me to be much more concise and easier to use.

[2021-12-16 12:55] EasyG0ing1 commented on #31
@hrzafer - I rad most of the documentation provided on that jtoolprovider plugin and all I can say is ... why is it so freaking complicated to compile a Java program? It's on a level of absurd borderline obscene how monumental of a task it is.

[2021-12-16 18:50] hrzafer opened #33 "Icon looks blurred over time"
Another issue I'm facing is this:

It looks OK at the start:

![image](https://user-images.githubusercontent.com/4048197/146430743-b4d375fa-bee1-46d1-9248-3e7622e63c82.png)

But after a while (maybe after a few hours, I don't know exactly), it looks like this or even worse sometimes:

![image](https://user-images.githubusercontent.com/4048197/146430634-55a205e2-d436-46b1-9b06-ef7c9a57c25e.png)

I

[2021-12-16 20:04] hrzafer commented on #33
Interestingly, when user does something that triggers a notification message (`icon.showMessage(message)`), the icon is redrawn and looks OK again.

[2021-12-17 02:45] EasyG0ing1 commented on #33
@hrzafer  That AWT stuff is crazy ... Some of the reading I did on it the other day had some suggestions of actually using a formal icon image in the .ico format ... you might try that, and also I would use an image that is at least double the required size of 16x16 (so make your image a 32x32) and then declare it explicitly in FXTIcon as a 16x16 image ... then mess with the image size ... try it

[2021-12-20 13:40] #25 closed

[2021-12-20 17:35] dustinkredmond commented on #31
Closing as this appears to be related to build tool rather than library itself. Please re-open if not in agreeance.

[2021-12-20 17:35] #31 closed

[2021-12-20 17:36] dustinkredmond commented on #32
Closing as this issue is caused by underlying AWT code and not by FXTrayIcon specific code.

[2021-12-20 17:36] #32 closed

[2021-12-20 17:39] dustinkredmond commented on #30
Leaving open for now if anyone wants to contribute a fix. It will need to work on (at least) Windows 10/11 and the latest MacOS releases.

I originally shot for this in the initial development, but it appears that the behavior is not consistent across the two operating systems, thus, I didn't want to create methods like `setOnLeftClick` or `setOnRightClick` in case these didn't work as intended ac

[2021-12-20 17:40] dustinkredmond commented on #28
Closing due to the further discussion and explanation on this subject on Issue #30. Any updates will be provided on that issue.

[2021-12-20 17:40] #28 closed

[2021-12-20 17:44] dustinkredmond commented on #33
Closing this issue as the advice offered by @EasyG0ing1 should mitigate this. This image quality degradation appears to be caused by the underlying AWT code instead of the FXTrayIcon abstraction.

If anyone finds evidence to the contrary, please feel free to create a new issue or re-open this.

[2021-12-20 17:44] #33 closed

[2022-01-06 13:42] AmirAli-AZ opened #34 "How to remove tray icon after showing message"
I'm trying to remove tray icon after showing message using this code :
[code]
but there is still
also I'm using **windows 10**

[2022-01-07 00:10] dustinkredmond commented on #34
Hi @AmirAli-AZ, if you want to remove the TrayIcon, the `hide()` method does this.

The `clear()` method instead clears the FXTrayIcon's menu. The javadoc should make this clear, though I admit the `clear()` method should probably be renamed to make this more clear. I will look into this for the next release.

[2022-01-07 07:25] AmirAli-AZ commented on #34
Yes, I also tried the `hide()` method that the program closes completely, but is there a way to not close the program?

[2022-01-07 11:35] AmirAli-AZ commented on #34
if 2 stage is showing and if we close the program by exit menu item
this error will show :
`Exception in thread "JavaFX Application Thread" java.lang.IllegalArgumentException: Key not associated with a running event loop: javafx.stage.Stage@62729689`
why this happen ?

[2022-01-12 21:15] HanSolo opened #35 "Text instead of icon"
Hi there,

Just a short question/feature request...would it be possible to have a text in the tray icon instead of an icon? Would be nice to have the ability to set/change text in the system tray.

[2022-01-12 21:39] dustinkredmond commented on #35
@HanSolo To clarify, I think you are asking about text in the place of the icon graphic.

The underlying AWT implementation, to my knowledge, does not support this. I think we would have to (at runtime) generate a graphic with the text, then save to disk and pass it to the AWT API.

If this is a requirement of your program, I think it best that you provide the text (as a JavaFX Image) to `FXTrayIc

[2022-01-12 21:44] dustinkredmond commented on #34
If you close the program via the Exit menu item, then JavaFX is closed via a call to `Platform.exit()`, thus subsequent calls to JavaFX API will throw the `IllegalArgumentException` that you're receiving, as JavaFX is no longer running. This is the intended behavior of the Exit menu item.

The `hide()`method, on the other hand simply removes the AWT TrayIcon from the SystemTray, JavaFX stays runni

[2022-01-12 21:45] dustinkredmond commented on #30
Gonna close for now, if you have anything further, please open a PR. Thanks!

[2022-01-12 21:45] #30 closed

[2022-01-12 21:51] HanSolo commented on #35
Yep I already checked and saw that it‘s not supported. I‘m currently replacing a Swift app with an FX app and the Swift app can place text in the tray icon. Will try creating images but they might look to blurry. Will check…thx for the response 👍🏻

[2022-01-12 21:51] #35 closed

[2022-01-14 12:19] AmirAli-AZ commented on #34
I created a gist to show that error,
And how to fix it ?
https://gist.github.com/AmirAli-AZ/bbb5c874ba89be7ebf83019b5ae75b4f

[2022-01-14 14:01] dustinkredmond commented on #34
@AmirAli-AZ instead of calling the `showAndWait()` method on the second stage, call `show()`, then exit the application using the FXTrayIcon's exit item. No exceptions will be thrown.

[2022-01-14 14:01] #34 closed

[2022-01-17 14:24] guiguidu60 opened #37 "Doesn't work under Fedora 35 (GNOME 41)"
Hi,

The instance of FXTrayIcon silently blocking at his creation.
it seems to be because of GTK (4).

Thanks for your work: I hope this library will become fully functional soon.

[2022-01-17 18:59] dustinkredmond commented on #37
Hi @guiguidu60. Unfortunately, due to the wide range of desktop environments that the various Linux distributions utilize, It would be a constant struggle to support each and every one of them. FXTrayIcon uses AWT to create and render the icon. Unfortunately, the AWT icon does not seem to work on GNOME due to its lacking support for AppIndicator.

Until the various OSes can standardize their appro

[2022-01-17 19:12] guiguidu60 commented on #37
I ran the `FXTrayIcon.isSupported()` and the response is TRUE.
It would indeed be necessary to carry out a native implementation to do without AWT.

[2022-01-17 20:22] dustinkredmond commented on #37
@guiguidu60, now that's strange. I would have thought that it should return false. I will look into this and see if we can come up with a better check.

[2022-01-17 20:22] #37 closed

[2022-01-22 22:11] parrotcar00 commented on #37
Do you if it would be possible to add support for Gnome system tray to FXTrayIcon? If it isn't too hard and possible to do, I could try to take a crack at it?

[2022-01-23 07:41] guiguidu60 commented on #37
It is obviously possible: it is apparently necessary to make the connection between Java and the library "libappindicator(-gtk)".
It doesn't look complicated but you have to know the C language.

[2022-01-24 08:55] PULSO-Gloves opened #38 "Popup without sound"
Can we do this?

[2022-01-24 13:20] dustinkredmond commented on #38
@PULSO-Gloves unfortunately, this is not possible by using the FXTrayIcon library, as it just calls built-in AWT and JavaFX methods. You would have to research whether AWT and/or JavaFX allow this, but I would guess that this is handled by the desktop environment of whatever operating system you are using.

[2022-01-24 13:20] #38 closed

[2022-01-24 13:25] dustinkredmond commented on #37
@guiguidu60 & @parrotcar00 Yes, you would have to use App Indicator libraries to achieve this in GNOME. I've looked at this in the past, but don't have the time currently to work out the native code. If someone would like to take a crack at this, I would love to review that PR.

[2022-01-28 09:24] dlemmermann opened #39 "Add entry to JFXCentral"
Would be great if this lib would be added to JFX-Central (jfx-central.com). Simply add it to the data repository at https://github.com/dlemmermann/jfxcentral-data

[2022-01-28 09:28] dlemmermann opened #40 "Add support for JPMS / Java 11 / module system"
For jlink / jpackage support it would be great if a Java 11 version could be made available.

[2022-01-28 14:39] dustinkredmond commented on #39
Pull request submitted.

[2022-01-28 14:39] #39 closed

[2022-01-28 14:41] dustinkredmond commented on #40
@dlemmermann This has been a big to-do of mine. I have not yet had the time, but plan to do this in the future. I would love some help from someone with experience in Java 9+ also. I have not had the time to dedicate learning the ins and outs of JPMS quite yet.

[2022-02-05 01:15] dwalluck commented on #40
Creating a `module-info.java` file is not so difficult, but retaining support for Java 8 while supporting Java 9+ is even more complicated because it requires a multi-release jar build.

I think that creating a native runtime image would still not be possible because AWT is not supported unless there is some way to support the system tray without AWT.

[2022-02-05 01:21] dwalluck opened #41 "No way to detect mouse button/number of clicks on tray icon"
If I understand correctly, the only API made available for attaching an event to the tray is `setOnAction()` (`onAction()` with the `Builder`). This takes an `ActionEvent`, not a `MouseEvent` which seems strange. In particular, it interferes with the right click on the tray icon because the event is always fired regardless of which button is used or clicks used. For example, how do you fire someth

[2022-02-05 01:27] dwalluck commented on #41
Looking at the code, there are some private methods that may be useful. In particular, the `getPrimaryClickListener()` seems to fire on any type of click (if "primary" is supposed to refer to the first mouse button).

[2022-02-05 01:39] dwalluck opened #42 "Builder API inconsistent"
Why is ` URL iconImagePath` required to be passed into the builder constructor and not via a method? If the idea is to put required arguments in the constructor, then this doesn't make sense because there's a `setGraphic()` method, but no corresponding `graphic()` method for the builder. I see that it is probably to match the existing non-builder constructors, but I still think there should be a `

[2022-02-05 10:07] dlemmermann commented on #40
In my projects I usually have two branches. One for Java 8, one for 9+. Multi-release JARs have caused me a lot of headache in the past as the are hard to detect and maven / gradle builds can easily get confused. I would definitely go with two separate releases.

[2022-02-05 10:20] dlemmermann opened #43 "Menus / folders always at the bottom"
Is there a reason why menus are always placed at the bottom of the menu. I now have a menu with four to five menu items, then the "exit" item, then the menus with subitems. How can I get the exit item to be all the way at the bottom?

[2022-02-05 17:30] dwalluck commented on #43
If you use the `addMenuItem(javafx.scene.control.MenuItem)` API, it always inserts at the end of the menu item list. But, there is also a `insertMenuItem(javafx.scene.control.MenuItem, int) to insert at a menu item at a certain position.

[2022-02-05 17:33] dwalluck commented on #40
I basically agree. For my "enterprise" projects, I am still "stuck" on Java 8, and for my "personal" projects, it was just easier to move to Java 11.

Besides, for jfx projects, I don't see much point in keeping Java 8 support since having proper module support is really more important.

[2022-02-08 13:14] schattenlord92 commented on #41
Not sure if this should be a new issue, but it would be great for the MenuItems as well.

[2022-02-08 13:41] dustinkredmond commented on #43
Closing, considering the comment made by @dwalluck
I will consider implementing an index setting for the "Exit" item in future releases, though if you wanted to create your own custom "Exit" item, it simply calls `Platform.setImplicitExit(true); Platform.exit();`

[2022-02-08 13:41] #43 closed

[2022-02-08 13:44] dustinkredmond commented on #42
Hi @dwalluck , the Builder API is still relatively new, we'll check on standardizing this to match the JavaFX convention.

[2022-02-09 19:45] dwalluck commented on #41
`ActionEvent` is supposed to be used for menus, though. Menus normally are supposed to do the same action on left and right click.

The problem with using and `ActionEvent` in place of a `MouseEvent` is like I said: right clicking to bring up the context menu will also trigger the icon action, which can't be what is intended.

[2022-02-10 01:56] dustinkredmond commented on #42
@EasyG0ing1, would you have time to review this? Since it changes public API, it's not an immediate necessity, but would be a "nice-to-have" for the next major release.

[2022-02-10 02:08] dustinkredmond commented on #41
@dwalluck It's even more fun when you have to account for the OS that the library is being run on. For example, what equates to a primary mouse click on Windows does not always equate to a primary mouse click on MacOS or some Linux distros. That's AWT to blame rather than the FXTrayIcon implementation. Even more of a surprise was that different versions of the same OS treated events differently.

[2022-02-10 19:36] dwalluck commented on #41
Help me to understand what the issue is. Naively, without having studied the code, I would have expected you to map a JavaFX action event to AWT action and a JavaFX mouse event to AWT mouse. I don't understand why, if you want to add an `ActionEvent` to the tray icon, you don't use `addActionListener`. Instead, `setOnAction` adds a _mouse_ listener.

Also, I wasn't sure about this code and whether

[2022-02-11 08:48] EasyG0ing1 commented on #41
@dwalluck Hello,

I tried to create another event handler method that assigned a MouseEvent to the awt.TrayIcon object, but when I tried to assign the event using

`trayIcon.addMouseListener(getPrimaryClickListener(e))`

The IDE said that awt.TrayIcon requires an ActionEvent to be passed into the listener. So it won't actually take a MouseEvent as an argument... this is an AWT limitation.

Or am I

[2022-02-12 02:09] EasyG0ing1 commented on #38
@PULSO-Gloves You might be able to assign an event listener of some kind to the TrayIcon then fire off an audio file when the event is triggered... but I'm only making an educated guess without any attempt at trying it myself.

[2022-02-12 02:52] EasyG0ing1 commented on #43
@dlemmermann  - There is already a Builder method for automatically adding an Exit menu to the bottom of the trayIcon - note the .addExitMenuItem() in this build sentence:

[code]

[2022-02-12 02:56] dwalluck commented on #41
I think this is just because `getPrimaryClickListener` returns `ActionEvent`, but it could return `MouseEvent`. The problem I saw is there's no way to construct a new `MouseEvent` from `EventHandler<MouseEvent>`, but there must be a way to do it.

[2022-02-12 03:02] dwalluck commented on #41
`java.awt.TrayIcon` has a method `addMouseListener` which I think should be used instead of `addActionListener`. Just as we have a `java.awt.event.ActionEvent` and a `javafx.event.ActionEvent`, there is a `java.awt.event.MouseEvent` and a `javafx.scene.input.MouseEvent`.

[2022-02-12 03:03] dwalluck commented on #43
Maybe he wants additional methods that add a position index parameter.

[2022-02-12 03:06] dwalluck commented on #41
Also, I have verified that having `this.trayIcon.addActionListener(stageShowListener)` always there will interfere with the user's own action. Maybe it needs to be removed if a customer handler is added and the developer is expected to add the functionality themselves in that case.

[2022-02-12 03:26] EasyG0ing1 commented on #43
@dwalluck The Builder does add the menuItems in the order that they are inserted into the build sentence. But the exitMenu can be added anywhere in the build sentence and it will always get placed at the bottom of the menu.

I also think that some kind of an indexing structure would be handy, I might start a new issue on that topic to open it up for some discussion as to how that should look from

[2022-02-12 03:43] EasyG0ing1 commented on #40
@dustinkredmond - I've gotten VERY comfortable with modularized Java ... I've been using Java 17 for everything for the last couple of months. I could easily port FXTrayIcon to be JPMS friendly ... and I do agree that keeping two separate projects is the way to do this, and FXTrayIcon isn't so large of a library ... it wouldn't be difficult to maintain two versions of the project. I mean when you

[2022-02-12 03:49] EasyG0ing1 commented on #41
@dwalluck

This is technically already an option, no? Simply don't engage the library's methods and then create those as needed.

[2022-02-12 04:16] dwalluck commented on #41
My point is I believe that code is always called. It makes sense as a default, but interferes with the when you want to add a custom handler.

[2022-02-24 21:43] palexdev opened #45 "Application doesn't start"
It appears the application hangs indefinitely on this line of code: [FXTrayIcon](https://github.com/dustinkredmond/FXTrayIcon/blob/112bd07256ba93df8bb9650b5f8e5a0a19dbd5fa/src/main/java/com/dustinredmond/fxtrayicon/FXTrayIcon.java#L197)

Edit: Wrapping the icon instantiation and show in a SwingUtilities.invokeLater seems to fix the issue but the icon in the tray in just a black rectangle. But this

[2022-02-24 22:31] dustinkredmond commented on #45
@palexdev there are some known compatibility issues with certain Linux desktop environments. Can you please send the specs of your current setup?

I could have sworn at one point that I had this library working on a test VM with GNOME as the desktop environment.

[2022-02-24 22:32] palexdev commented on #45
Of course, what do you need exactly?

[2022-02-24 22:34] dustinkredmond commented on #45
Linux Distribution/version, and version of GNOME if you could, please.

[2022-02-24 22:48] palexdev commented on #45
OS: Garuda Linux x86_64
Kernel: 5.16
DE: GNOME 41.4
Full info from neofetch: [Screenshot](https://user-images.githubusercontent.com/16880178/155620450-b54c7b4d-5c8b-44d9-8376-74166d2a6225.png)

[2022-02-25 12:59] dustinkredmond commented on #45
@palexdev I will check further this weekend. Most folks don't even get to the black rectangle on GNOME, as I've seen in the past. I'm assuming that `FXTrayIcon.isTrayIconSupported()` returns `true`?

[2022-03-09 19:30] palexdev commented on #45
@dustinkredmond any news on this?

[2022-03-10 00:29] dustinkredmond commented on #45
@palexdev I apologize for the delay, as I'm in the process of moving and still don't have internet at my new residence. Since you're using an extension to GNOME that causes the library to return `true`, I'm not sure how best to handle this.

Unfortunately, I don't think we can support this due to the limitations imposed by AWT. I haven't found an acceptable workaround, so ideally FXTrayIcon's `isS

[2022-05-07 19:04] DBChoco opened #49 "White square around icon"
Does anyone know how I can remove the white square here ?

https://i.imgur.com/OSgLx1p.png

I'm on Arch linux, using XFCE4. Thanks for the help.

[2022-05-07 19:36] dustinkredmond commented on #49
Are you using a transparent PNG for the image?

[2022-05-07 20:00] DBChoco commented on #49
Yes I am, shouldn't I ?

[2022-05-07 23:41] dustinkredmond commented on #49
It would have been my suggestion to do exactly this (use a transparent PNG). Unfortunately, FXTrayIcon is merely an abstraction for the AWT TrayIcon, so any issue such as this one should be submitted as a bug report against the AWT implementation. It may be possible to try other formats for you desktop environment, but unfortunately this is not a bug that the maintainers of this particular library

[2022-05-08 04:00] EasyG0ing1 commented on #49
@DBChoco - Have you tested it using one of the built-in tray icons to see if the behavior is the same? Because even though you might have a transparent png image as your icon, it might have pixels in it with an opacity low enough that it would not show up under normal viewing, but in certain circumstances, those pixels might get highlighted. So I would try with one of the built-in icons just to be

[2022-05-08 07:21] DBChoco commented on #49
Hi there, I just tested the default icon, and I have the same result: https://i.imgur.com/AA3Ihif.png
I couldn't get it on a screenshot but even the menu items look really bad, like out of Windows 95.

It's really a shame since it seems like there is no direct solution, should I close the issue ?

[2022-05-08 19:20] EasyG0ing1 commented on #49
@DBChoco - I just ran the DefaultIcon code on a Windows 11 virtual machine and I'm not seeing the same behavior that you're seeing ... could it be something with your particular setup in Windows?
<img width="252" alt="Screen Shot 2022-05-08 at 12 19 08 PM" src="https://user-images.githubusercontent.com/10106834/167312296-8ea0e431-1b87-4349-8db0-56a47f2014fc.png">

[2022-05-08 20:42] DBChoco commented on #49
@EasyG0ing1 I'm actually on XFCE (arch linux), isn't it supported ?

[2022-05-09 16:33] azplanlos opened #50 "MenuItem order wrong for .addExitMenuItem()"
When building a Tray Icon using the Builder API and adding .addExitMenuItem() the exit menu item shows up on top of the list.

Check:

    FXTrayIcon trayIcon =
                new FXTrayIcon.Builder(stage, resource).menuItem("Settings",
                        e-> myMethod()).separator().menuItem(item).addExitMenuItem().show().build();

[2022-05-09 16:34] azplanlos opened #51 "Support for RadioMenuItems"
It would be very nice to have support for CheckMenuItem and RadioMenuItem to allow users to toggle select in the tray icon menu.

[2022-05-11 07:02] EasyG0ing1 commented on #49
@DBChoco - Anything Linux and JavaFX can be ... "mystery meat" ... but then mix FX with AWT and all bets are off for anything consistent among Linux builds. I do know it has a lot to do with whether or not your desktop environment has support specifically for JavaFX ... I know that some Gnome builds do while others don't and beyond that, I'm not all that read up on it. I use MacOS myself the major

[2022-05-11 09:50] EasyG0ing1 commented on #50
@azplanlos - Yeah, this is been fixed in pull request #47 which has been merged, but not published yet...

Heres a screen shot from that PR:

<img width="810" alt="Screen Shot 2022-05-11 at 2 47 58 AM" src="https://user-images.githubusercontent.com/10106834/167821986-0db37a7e-ddb3-4988-bb57-9f4dd034842b.png">

[2022-05-11 10:24] DBChoco commented on #49
@EasyG0ing1 By FX are you talking about this module ? Then should I use FX for Windows & macOS and use a customized AWT System tray for Linux ?

[2022-05-11 13:12] EasyG0ing1 commented on #49
@DBChoco - No, when I say FX, That's just the lazy way of saying JavaFX

[2022-05-11 14:01] EasyG0ing1 commented on #51
@azplanlos - This is an interesting suggestion ... however, this won't work, and here is why...

JavaFX MenuItems are CONVERTED over to an AWT framework before they are added to the FXTrayIcon popup menu. And since they technically are not rendered as JavaFX objects, there is no hope of implementing a full-flavored JavaFX object within FXTray Icon.

Maybe one day, JavaFX will actually support the

[2022-05-11 14:10] azplanlos commented on #51
I implemented a version supporting CheckMenuItems and will create a pull request shortly.
________________________________
Von: Michael Sims ***@***.***>
Gesendet: Wednesday, May 11, 2022 4:01:17 PM
An: dustinkredmond/FXTrayIcon ***@***.***>
Cc: Andreas Zöllner ***@***.***>; Mention ***@***.***>
Betreff: Re: [dustinkredmond/FXTrayIcon] Support for RadioMenuItems (Issue #51)

@azplanlos<https://git

[2022-05-11 14:22] EasyG0ing1 commented on #42
@dwalluck - I just now caught the mention of the tooltip thing in the builder ... I did submit a PR for it though it seems a little nit-picky at this point ... I also wanted to point out that this is the published method in the official```java.awt TrayIcon``` class...
<img width="662" alt="Screen Shot 2022-05-11 at 7 14 34 AM" src="https://user-images.githubusercontent.com/10106834/167872647-115b6

[2022-05-11 14:25] EasyG0ing1 commented on #42
@dwalluck  - Also, check out PR #47

[2022-05-11 14:27] EasyG0ing1 commented on #51
@azplanlos - can't wait to see how you did it ... my experience with AWT is about on par with my lifetime skydiving hours ... which equates to about 20 minutes  ... ☺

[2022-05-11 15:00] DBChoco commented on #49
Oh okay, seems likes I misunderstood your previous reply. I think I'll close this now then, since it seems like there is no way you could fix it.
Thanks for all the replies and advice, I appreciate it.

[2022-05-11 15:00] #49 closed

[2022-05-12 00:30] dustinkredmond commented on #51
@azplanlos , I'm with @EasyG0ing1, I'm fairly versed with JavaFX, but my prior experience with AWT going into the development of this library leaves much to be desired. I look forward to your pull request, and am eager to see your new development. Thank you tons for your contribution!

[2022-05-12 00:33] dustinkredmond commented on #50
Closing this as @EasyG0ing1's commit fixed this. I've just been too busy to publish a release. I will publish the next release with this fix later this evening. Thank you both for bringing this to my attention.

[2022-05-12 00:33] #50 closed

[2022-05-12 00:36] dustinkredmond commented on #45
I'm happy to leave this issue open if folks want to further explore possibilities for a fix. Ultimately, FXTrayIcon is (and always has been) nothing more than an abstraction over the AWT API. This really limits the possibilities we have for improvement, as we rely on the underlying implementation to be solid. If you all want to explore this further, please use this Issue to further discuss, otherw

[2022-05-12 00:37] dustinkredmond commented on #42
Going with @EasyG0ing1's PR and closing this. Feel free to re-open if any further discussion.

[2022-05-12 00:37] #42 closed

[2022-05-12 00:38] dustinkredmond commented on #41
This should be possible... I will check this and see if there's a way that we can implement this in the next major version release.

[2022-05-12 00:38] #41 closed

[2022-05-12 00:41] dustinkredmond commented on #40
I'm down for doing this. As a library, this will not be a major change. Since there's no buildable artefacts, this change poses no major disruptments to our users. I will keep this issue open until the release is pushed.

[2022-05-12 01:04] dwalluck commented on #42
Yes, I know.

One of my original "complaints" was that the AWT methods have different naming conventions from JavaFX, and it's a JavaFX library. To me, it makes sense to align with JavaFX naming conventions, not AWT.

On top of that, the builder methods didn't match the get/set methods.

But, yes, as it deals with naming you could call it "nit-picky".

[2022-05-12 12:29] EasyG0ing1 commented on #40
@dustinkredmond - So it turns out that I don't think we are going to need to have two different projects here. I've been reading up on some methods that will build a jar file that is compatible with both modular and non-modular projects and also compatible with 1.8 and back as well as 9 and forward using some POM file magic and a couple of plugins ...  I wanna test this out once I dive in a little

[2022-05-12 13:06] EasyG0ing1 commented on #42
@dwalluck - I mean on one side of the fence ... it's nit-picking ... but on the other side of the fence, when you're reading code and trying to make sense of it, the last thing you need, are brain obstacles on the screen that distract from the main goal - understanding the code!

I actually have been ACTIVELY forcing myself to use the word filename and not fileName ... because technically, it's on

[2022-05-12 13:17] Jeevasimba opened #54 "Will tray closing system works on linux and mac ?"
I have a doubt .

Will tray closing system works on linux and mac ?

[2022-05-12 13:41] EasyG0ing1 commented on #54
@Jeevasimba What do you mean when you say "tray closing system" ?

I use FXTrayIcon in Java Mac apps all the time and it works beautifully ... better than it does in Windows in my humble opinion.

[2022-05-12 13:45] Jeevasimba commented on #54
will it work on linux ?

[2022-05-12 15:05] EasyG0ing1 commented on #45
@dustinkredmond - Since I'm more of a "use if arm twisted" - style of Linux user, I have no interest in devoting large amounts of time to further its cause ... JavaFX doesn't seem to be particularly welcome much anywhere in the Linux space from what I gathered with the time I spent looking into the issues. I don't usually - as a rule - go where I'm not welcome. ☺

[2022-05-13 03:27] Jeevasimba commented on #54
I am using [Style.UNDECORATED][1]  in my javafx application.

In button I set code like this

    public void exit(ActionEvent event){
        System.exit(0);
    }

If I click that button the tray also closes.

I want to set if I click then the app will go to tray.

How can I set like that with [Style.UNDECORATED][1] ?

  [1]: https://stackoverflow.com/a/8134786/17777351

[2022-05-13 06:09] EasyG0ing1 commented on #54
@Jeevasimba - First of all, when you instantiate FXTrayIcon, you need to pass in the primaryStage that is created from your Main class

[code]

Of course you can also include any of your custom build options in that sentence  such as your chosen icon, and your menuItems etc.

When your menuItems call up other windows, they need to have their own Stage associated with their given Scene. Then, when

[2022-05-13 06:15] EasyG0ing1 commented on #54
@Jeevasimba - You can [look at this library](https://github.com/EasyG0ing1/SceneOneFX) that I wrote, that makes managing Java Scenes a little easier. With that library, you assign names to your scenes so that you can access them from anywhere in your application. The library lets you create and show a Scene in one line of code, which you can access from anywhere in your program in any class ... cl

[2022-05-13 17:24] EasyG0ing1 commented on #54
@Jeevasimba

You can use a high quality .png file as your image. Look at the images in the resources folder in the project for some examples. However, in Windows, your image size typically can't be greater than 17 x 17 pixels and usually it needs to be 16 x 16 pixels. On a Mac, you can set it to 22 x 22 pixels and it will look really nice on the mac ... here are some that I use on personal program

[2022-05-26 21:50] steven6282 commented on #31
I just ran into this same issue, but for me it's happening even when compiling to a jar and running outside of intellij.  I'm just using standard Oracle OpenJDK 17 not a custom version or using any msi installers or anything.  Anyone else happened to look at this anymore and figure out what might be happening?  I'm guessing it's something to do with running it through Java not as a stand alone or

[2022-05-30 16:21] EasyG0ing1 commented on #31
@steven6282 - When you run a program from IntelliJ, in the output at the bottom of the screen, that first line will be the line that IntelliJ used to run the code ... if you copy that line into a text editor, then break it down ... I usually do a search for space dash and replace with a hard enter then a space dash - and I also look for :/ and replace with :<enter>/ so after doing all of that, it

[2022-06-11 15:59] EasyG0ing1 commented on #45
@dustinkredmond

As I've been testing GistFX on Linux (Ubuntu latest version) I've been noticing that FXT returns true on the supported test, but it ends up hanging the application so I just coded FXT out of the app if Linux is running, just to safe.

[2022-06-11 16:04] EasyG0ing1 commented on #51
@azplanlos

How is that PR coming along?

[2022-06-14 07:49] azplanlos commented on #51
Sorry, I have been busy with some other stuff. PR is on it's way.

[2022-07-10 11:35] KacyBiscuit opened #57 "A bug? Or am I doing something wrong?"
Menus appear to be getting added to the list in the wrong order.

This code:
[code]

creates this menu:
![image](https://user-images.githubusercontent.com/91832471/178143067-3f7aa637-0414-4170-baf9-7b78b1c17d7c.png)

For some reason the menu dictionary is between "Show" and "Hide to Tray" when it should come just before the second separator.

Also this warning appears in the console, but I don't u

[2022-07-11 19:37] EasyG0ing1 commented on #57
@KacyBiscuit

Try using the Builder class of FXTrayIcon, like this:

[code]

It should put everything in the order that you have them placed in your build sentence.

Also, when you add any item to an existing FXTrayIcon, the library will verify that the label String assigned to the item does not already exist in the trayMenu, and if it does, it will throw an error.

[2022-08-09 15:05] javasuns opened #58 "Maven Central Does not have latest release (3.3.0)"
Maven Central Does not have latest release (3.3.0)

[2022-08-09 15:54] dustinkredmond commented on #58
Deployed to central, thanks for raising the issue!

![image](https://user-images.githubusercontent.com/42328885/183699974-b291ea80-35d6-4dc6-a2ea-11ec3aeb15a8.png)

[2022-08-09 15:54] #58 closed

[2022-08-11 07:10] EasyG0ing1 commented on #57
@KacyBiscuit - It's been a while since you opened this incident, have the comments I made been of any use to you?

[2022-08-11 07:13] KacyBiscuit commented on #57
So sorry for the long reply! I had thought I'd replied before but I must've forgot as I've been busy recently, that helped greatly thanks! although I don't entirely understand the second part of your message as when I'm adding them they definately don't already exist so I don't see why it should throw an error

[2022-08-12 19:43] EasyG0ing1 commented on #57
What I mean by saying "when you add any item to an existing FXTrayIcon" - I'm talking about after you have already created an instance of FXTrayIcon, and then you add menuItems into it (as opposed to adding all of your menuItems in your build sentence).

The only point I was trying to make, is that FXTrayIcon checks the label of every menuItem that you place into FXTrayIcon, and if it sees that th

[2022-09-21 16:22] DarkDeveloper-arch opened #59 "usage in modular fx project?"
is there any way to use the library with a modular project?

[2022-09-21 19:58] #59 closed

[2022-09-22 14:32] EasyG0ing1 commented on #59
I use Maven, and add the library to my dependencies, then just add this to your module-info.java file:

[code]

[2022-10-10 09:08] dpalic opened #60 "Ubuntu 20.04 UnsupportedOperationException: SystemTray icons are not supported"
Hi there,

I am about to use FXTrayIcon but facing the issue, that I am getting the Exception

`java.lang.UnsupportedOperationException: SystemTray icons are not supported by the current desktop environment.`

I got the point, that Gnome removed the SystemTray strangely, and I need to install but the system tray is sadly still not working.
So not clear if a package is still missing.

I have alread

[2022-10-10 09:50] ctoabidmaqbool opened #61 "NullPointerException when null MenuItem()"
I have used codding somethings like this:

[code]

Error:
[code]

[2022-10-10 10:39] ctoabidmaqbool opened #62 "When another thread is running, some codding stops working!"
For example, I am using this code:

[code]

After this `new org.hsqldb.Server().start();`  the `mnuSoftVersionStatus.setText()` is not working?

[2022-10-10 10:44] ctoabidmaqbool commented on #62
I I use something like this codding, All is working fine

``
`final PopupMenu popup = new PopupMenu();

TrayIcon trayIcon = new TrayIcon(Toolkit.getDefaultToolkit().createImage(getClass().getResource(ICON)));
trayIcon.setPopupMenu(popup);

final SystemTray tray = SystemTray.getSystemTray();

try {
  tray.add(trayIcon);
} catch (AWTException e) {
  System.out.println("TrayIcon could not be added."

[2022-10-10 20:24] dustinkredmond commented on #62
I didn't originally intend for the label text to be changed after the MenuItem was added. I will look into implementing a listener to update this on the Event Dispatch thread when attributes of the MenuItems are changed. Thanks for opening this issue!

[2022-10-10 20:25] dustinkredmond commented on #61
It looks like the AWT API is requiring you to have set a label on the MenuItem before it is added to the TrayIcon. Please try setting a label on the MenuItem first before adding it to the TrayIcon.

[2022-10-10 20:27] dustinkredmond commented on #60
I had dug into trying to support these in the past, but looks like we'd have to download and install a third-party extension to get it working, I'm going to close this issue, preferring to keep the discourse in #12 so that past efforts are visible moving forward. Thanks for opening this issue!

[2022-10-10 20:27] #60 closed

[2022-10-10 20:28] dustinkredmond commented on #51
Thanks all for the efforts to support CheckMenuItems, this looks great! Closing this issue for now since changes were merged to main.

[2022-10-10 20:28] #51 closed

[2022-10-10 20:29] #54 closed

[2022-10-10 20:30] dustinkredmond commented on #45
Closing issue, preferring to keep discourse on #12 which addresses attempts to get the library working on Linux in general.

[2022-10-10 20:30] #45 closed

[2022-10-10 20:31] dustinkredmond commented on #40
Closing for now, too many folks still on JVM 8, and too many projects now using the library. Plans to do a separate branch/release in future to support older as well as newer JDKs.

[2022-10-10 20:31] #40 closed

[2022-10-11 03:44] ctoabidmaqbool commented on #61
@dustinkredmond Hum! I have already tried it, If MenuItem is assigned as empty string, then all works good. e.g.

[code]

But I think, it should also except empty parameter / null values because in AWT/SWING it's excepting it!

[2022-10-11 03:53] ctoabidmaqbool commented on #40
For jdk 8 and Jdk 11 separate codding, I think separate branches are enough.

For automatic release cycle, you can setup GitHub Actions, which automatically runs while commenting codding.

[2022-10-11 12:32] KacyBiscuit commented on #57
so sorry, it has been but ive been logged out of github for a while so i havnt been receaving notifications

[2022-10-11 12:32] #57 closed

[2022-10-12 03:27] ctoabidmaqbool commented on #57
best of luck!

[2022-10-20 19:54] dustinkredmond commented on #61
I've changed the `AWTUtils` class with commit 1d11f3d to check if the text passed in the FX `MenuItem` is null, if so, we'll call the AWT constructor with an empty `String`. This should take care of your issue going forward.

[2022-10-20 19:54] #61 closed

[2022-10-24 20:08] dustinkredmond commented on #62
@ctoabidmaqbool I believe I've fixed this with commit 992c9b0. Could you please try your original code again with a copy of the source code before I push another release with the fix. I've written a test class and it appears to work on my end.

[2022-10-25 05:32] ctoabidmaqbool commented on #62
@dustinkredmond Hi! I have tried source files, and it's actually works as expected. Thanks

I have some other issues too, will put as separate issues.

[2022-10-25 05:37] ctoabidmaqbool opened #63 "After adding menu items, Actions listener on menu items not working"
Hi! If I first set actions before actual adding item, it's working as expected. But if first add item and then add event / action then it's not working fine.

As shown, it's not working, as `setOnAction()` is used after adding menu item e.g. `addMenuItem()`
[code]

In simple awt codding both cases are working fine!

[2022-10-25 05:40] ctoabidmaqbool opened #64 "Clicking two time on Tray icon show empty stage?"
Hi! When `left double clicking` on TrayIcon with this library then empty stage / window is showing, However in simple AWT codding no such things happens until we set such functionality.

[2022-10-25 05:42] ctoabidmaqbool opened #65 "After adding checkMenuItem, chech or uncheck not working"
After adding checkMenuItem check / uncheck change listener not working fine.

e.g. not working fine:
[code]

[2022-10-25 07:48] ctoabidmaqbool opened #66 "How to set Taskbar icon to JFXFileChooser?"
As Javafx File Chooser have no icon (but in swing icon can be set). So how can icon be changed or hide from taskbar?

Javafx File Chooser show icon of java at taskbar which is boaring...

[2022-10-25 12:35] dustinkredmond commented on #65
Working on this with commit 887be5c, fill be fixed before next minor version release.

[2022-10-25 12:35] #65 closed

[2022-10-25 12:36] dustinkredmond commented on #64
Could you please provide a minimal, reproducible example of the code that exhibits this behavior as well as the code using raw AWT that does *not* cause this issue?

[2022-10-25 12:37] dustinkredmond commented on #63
I'm not sure there's a property that we can listen for in JavaFX to tell when action listeners are added/removed after they've already been added to the FXTrayIcon. I will check for this, then update.

[2022-10-25 12:38] dustinkredmond commented on #62
Glad that fixed it! I will close this issue, review the others, then plan on a minor version release by the end of the week to resolve these.

[2022-10-25 12:38] #62 closed

[2022-10-25 12:41] dustinkredmond commented on #64
I'm curious as to whether this behavior is present if the `StageStyle` is `UNDECORATED`. E.g:

[code]

[2022-10-26 05:08] ctoabidmaqbool commented on #64
@dustinkredmond This is an example which use this lib and have an issue e.g. when double clicking on Tray icon empty stage is opened;
[RunnableTest.java.txt](https://github.com/dustinkredmond/FXTrayIcon/files/9866346/RunnableTest.java.txt)

This one is crated with  simple AWT codding without using any external libs
[RunnableTestAWT.java.txt](https://github.com/dustinkredmond/FXTrayIcon/files/98663

[2022-10-27 17:17] dpalic commented on #12
_Trying to message here, but from other issue trackers on github assume message will not be read_

I am willing to support here, but require some more details. Can you answer me my questions?

afaik, should not be a big issues

we could try to find out if libappindicator is installed, if so use, else throw warning + link to how to install
So no need to make it more complex as it is

if we do not t

[2022-10-27 19:51] EasyG0ing1 commented on #12
@dpalic - I'll find the discussion I had with Jetbrains. If I remember correctly, they were very brief in their response, and no code examples were given that I can recall. That being said, we might be able to get them to put me in contact with one of the developers of their Toolbox application who might help further. They do seem to be a fairly accommodating company in general.

On the items you

[2022-10-27 22:30] EasyG0ing1 commented on #12
@dpalic So I tried to run a simple FXTrayIcon app on my MintCinamon Linux VM since it has Jetbrains Toolbox installed and working, the assumption being that the right components would be in place to where I could just get a tray icon without doing much else.

Here is the class that I ran
[code]

And here is the output ... it never seems to instantiate FXTrayIcon and it throws no errors at all ...

[2022-11-11 10:45] peter277 opened #67 "Icon resolution limited to 16x16 on Windows"
Hi,

I am unable to obtain a higher resolution than 16x16 for the tray icon on Windows, which makes it appear very low res compared to other icons on Windows 10.

After a bit of searching I tried a suggestion hinted on a Stack Overflow comment [here](https://stackoverflow.com/questions/10820255/java-awt-systemtray-does-not-display-tray-icon-properly), suggesting to turn on auto size using setAutoI

[2022-11-18 17:31] dustinkredmond commented on #64
Sorry for the delay. I see the issue now. I will release a fix for this in version 4.0.0, scheduled for release later on this evening.

[2022-11-18 17:33] dustinkredmond commented on #63
After looking through the API, I'm not sure how this can be handled without some mild sorcery (or a ton or Reflection). I'm going to close this issue, but will keep this in mind. Please feel free to re-open if you can think of any suggestions to mitigate this unexpected behavior. Thanks for raising the issue!

[2022-11-18 17:33] #63 closed

[2022-11-18 21:03] #67 closed

[2022-11-18 21:09] #64 closed